.icon-blank {
	background: url('icons/blank.gif') no-repeat center center;
}

.icon-add {
	background: url('icons/edit_add.png') no-repeat center center;
}

.icon-edit {
	background: url('icons/pencil.png') no-repeat center center;
}

.icon-remove {
	background: url('icons/edit_remove.png') no-repeat center center;
}

.icon-save {
	background: url('icons/filesave.png') no-repeat center center;
}

.icon-cut {
	background: url('icons/cut.png') no-repeat center center;
}

.icon-ok {
	background: url('icons/ok.png') no-repeat center center;
}

.icon-no {
	background: url('icons/no.png') no-repeat center center;
}

.icon-cancel {
	background: url('icons/cancel.png') no-repeat center center;
}

.icon-reload {
	background: url('icons/reload.png') no-repeat center center;
}

.icon-search {
	background: url('icons/search.png') no-repeat center center;
}

.icon-print {
	background: url('icons/print.png') no-repeat center center;
}

.icon-help {
	background: url('icons/help.png') no-repeat center center;
}

.icon-undo {
	background: url('icons/undo.png') no-repeat center center;
}

.icon-redo {
	background: url('icons/redo.png') no-repeat center center;
}

.icon-back {
	background: url('icons/back.png') no-repeat center center;
}

.icon-sum {
	background: url('icons/sum.png') no-repeat center center;
}

.icon-tip {
	background: url('icons/tip.png') no-repeat center center;
}

.icon-excel {
	background: url('icons/excel.png') no-repeat center center;
}

.icon-mini-add {
	background: url('icons/mini_add.png') no-repeat center center;
}

.icon-mini-edit {
	background: url('icons/mini_edit.png') no-repeat center center;
}

.icon-mini-refresh {
	background: url('icons/mini_refresh.png') no-repeat center center;
}

.icon-table {
	background: url('icons/table.png') no-repeat center center;
}

.icon-application_view_detail {
	background: url('icons/application_view_detail.png') no-repeat center
		center;
}

.icon-chart_bar {
	background: url('icons/chart_bar.png') no-repeat center center;
}

.icon-chart_curve {
	background: url('icons/chart_curve.png') no-repeat center center;
}

.icon-chart_pie {
	background: url('icons/chart_pie.png') no-repeat center center;
}

.icon-chart_organisation {
	background: url('icons/chart_organisation.png') no-repeat center center;
}

.icon-cog {
	background: url('icons/cog.png') no-repeat center center;
}

.icon-connect {
	background: url('icons/connect.png') no-repeat center center;
}

.icon-cut-blue {
	background: url('icons/cut-blue.png') no-repeat center center;
}

.icon-delete {
	background: url('icons/delete.png') no-repeat center center;
}

.icon-exclamation {
	background: url('icons/exclamation.png') no-repeat center center;
}

.icon-user {
	background: url('icons/user.png') no-repeat center center;
}

.icon-group {
	background: url('icons/group.png') no-repeat center center;
}

.icon-house {
	background: url('icons/house.png') no-repeat center center;
}

.icon-key {
	background: url('icons/key.png') no-repeat center center;
}

.icon-lock {
	background: url('icons/lock.png') no-repeat center center;
}

.icon-new {
	background: url('icons/new.png') no-repeat center center;
}

.icon-phone {
	background: url('icons/phone.png') no-repeat center center;
}

.icon-phone_sound {
	background: url('icons/phone_sound.png') no-repeat center center;
}

.icon-picture {
	background: url('icons/picture.png') no-repeat center center;
}

.icon-printer {
	background: url('icons/printer.png') no-repeat center center;
}

.icon-report {
	background: url('icons/report.png') no-repeat center center;
}

.icon-tick {
	background: url('icons/tick.png') no-repeat center center;
}

.icon-computer {
	background: url('icons/computer.png') no-repeat center center;
}

.icon-monitor {
	background: url('icons/monitor.png') no-repeat center center;
}

.icon-building {
	background: url('icons/building.png') no-repeat center center;
}

.icon-email {
	background: url('icons/email.png') no-repeat center center;
}

.icon-arrow_down {
	background: url('icons/arrow_down.png') no-repeat center center;
}

.icon-arrow_left {
	background: url('icons/arrow_left.png') no-repeat center center;
}

.icon-arrow_right {
	background: url('icons/arrow_right.png') no-repeat center center;
}

.icon-arrow_up {
	background: url('icons/arrow_up.png') no-repeat center center;
}

.icon-user_add {
	background: url('icons/user_add.png') no-repeat center center;
}

.icon-user_comment {
	background: url('icons/user_comment.png') no-repeat center center;
}

.icon-user_delete {
	background: url('icons/user_delete.png') no-repeat center center;
}

.icon-user_edit {
	background: url('icons/user_edit.png') no-repeat center center;
}

.icon-user_female {
	background: url('icons/user_female.png') no-repeat center center;
}

.icon-user_go {
	background: url('icons/user_go.png') no-repeat center center;
}

.icon-user_gray {
	background: url('icons/user_gray.png') no-repeat center center;
}

.icon-user_green {
	background: url('icons/user_green.png') no-repeat center center;
}

.icon-user_orange {
	background: url('icons/user_orange.png') no-repeat center center;
}

.icon-user_red {
	background: url('icons/user_red.png') no-repeat center center;
}

.icon-user_suit {
	background: url('icons/user_suit.png') no-repeat center center;
}

.icon-application {
	background: url('icons/application.png') no-repeat center center;
}

.icon-world {
	background: url('icons/world.png') no-repeat center center;
}

.icon-calendar_edit {
	background: url('icons/calendar_edit.png') no-repeat center center;
}

.icon-group_error {
	background: url('icons/group_error.png') no-repeat center center;
}

.icon-money {
	background: url('icons/money.png') no-repeat center center;
}

.icon-resultset_next {
	background: url('icons/resultset_next.png') no-repeat center center;
}
.icon-pic-up {
	background: url('icons/picture_up.png') no-repeat center center;
}

.icon-camera {
	background: url('icons/camera.png') no-repeat center center;
}

.icon-folder {
	background: url('default/images/tree_icons.png') no-repeat -208px 0;
}

.icon-email-edit {
	background: url('icons/email_edit.png') no-repeat center center;
}

.icon-email-go {
	background: url('icons/email_go.png') no-repeat center center;
}

.icon-camera {
	background: url('icons/camera.png') no-repeat center center;
}

.icon-camera {
	background: url('icons/camera.png') no-repeat center center;
}

.icon-camera {
	background: url('icons/camera.png') no-repeat center center;
}

.icon-flag-red {
	background: url('icons/flag_red.png') no-repeat center center;
}

.icon-excel {
	background: url('icons/excel.png') no-repeat center center;
}